{% extends 'main.html' %}
{% block content %}
    <div class="container">
        <div style="margin-bottom: 10px" class="clearfix">
            <a class="btn btn-success" href="/admin/add/">新建管理员</a>
            <div style="float: right;width: 300px">
                <form method="get">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="用户名" value="{{ search_data }}" name="q">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">查询</button>
                    </span>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">管理员列表</div>

            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>用户名</th>
                    <th>密码</th>
                </tr>
                </thead>
                <tbody>
                {% for item in data_list %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.username }}</td>
                        <td>{{ item.password }}</td>
                        <td>
                            <a class="btn btn-primary btn-xs" href="/admin/{{ item.id }}/edit/">编辑</a>
                            <a class="btn btn-danger btn-xs" href="/admin/{{ item.id }}/delete/">删除</a>
                            <a class="btn btn-success btn-xs" href="/admin/{{ item.id }}/reset/">重置密码</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <ul class="pagination">
            {{ page_string }}

        </ul>
    </div>
{% endblock %}

