{% extends 'main.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-datetimepick/css/bootstrap-datetimepicker.min.css' %}">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ title }}</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" method="post" novalidate>
{#                novalidate 关闭浏览器自带的校验#}
                    {% csrf_token %}
                    {% for item in form %}
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ item.label }}</label>
{#                        .label获得创建数据库时字段的verbose_name  中文的备注#}
                        <div class="col-sm-10">
                                {{ item }}
                                <span style="color: red">{{ item.errors.0 }}</span>
                        </div>
                    </div>
                    {% endfor %}

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">保存</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
{% endblock %}


{% block js %}
<script src="{% static 'plugins/bootstrap-datetimepick/js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-datetimepick/js/locales/bootstrap-datetimepicker.zh-CN.js' %}"></script>
<script>
$(function (){
    $('#id_time').datetimepicker({
        format:"yyyy-mm-dd",
        minView: 2,
        startDate:"0",
        language:"zh-CN",
        autoclose:true
    });
})
</script>
{% endblock %}
