{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.min.css' %}">

    <style>
        .account {
            width: 350px;
            border: 1px solid #dddddd;
            padding: 15px;
            margin-left: auto;
            margin-right: auto;
            border-radius: 5px; /*圆角*/
            box-shadow: 5px 5px 5px #aaa;
            /*阴影*/
        }

        .account h2 {
            text-align: center;
        }


    </style>
</head>
<body>
<div style="width: 100px; height: 100px;"></div>
<div class="account">
    <h2>用户登录</h2>
    <div>
        <form method="post" novalidate>
            {% csrf_token %}
            <div class="form-group">
                <label>用户名</label>
                {{ form.username }}
                <span style="color: red">{{ form.username.errors.0 }}</span>
            </div>
            <div class="form-group">
                <label>密码</label>
                {{ form.password }}
                <span style="color: red">{{ form.password.errors.0 }}</span>
            </div>
            <div class="form-group">
                <label>验证码</label>
                <div class="row">
                    <div class="col-xs-7">
                        {{ form.image_code }}
                        <span style="color: red">{{ form.image_code.errors.0 }}</span>
                    </div>
                    <div class="col-xs-5">
                        <img id="img_code" src="/image/code/" style="width: 80px; height: 30px">
                    </div>
                </div>

            </div>
            {#循环显示（效果相同）#}
            {#{% for field in form %}#}
            {#    <div class="form-group">#}
            {#        <label>{{ field.label }}</label>#}
            {#        {{ field }}#}
            {#    </div>#}
            {#{% endfor %}#}

            <input type="submit" value="登录" class="btn btn-primary">
        </form>
    </div>

</div>

</body>
</html>