{% extends 'main.html' %}
{% block content %}
    <div class="container">
        <div style="margin-bottom: 10px" class="clearfix">
            <a class="btn btn-success" href="/num/add/">新建号码</a>
            <div style="float: right;width: 300px">
                <form method="get">
                    <div class="input-group">

                        <input type="text" class="form-control" placeholder="号码" value="{{ search_data }}" name="q">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">查询</button>
                    </span>

                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">号码列表</div>

            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>号码</th>
                    <th>价格</th>
                    <th>等级</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for item in data_list %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.mobile }}</td>
                        <td>{{ item.price }}</td>
                        <td>{{ item.get_level_display }}</td>
                        <td>{{ item.get_status_display }}</td>
                        <td>
                            <a class="btn btn-primary btn-xs" href="/num/{{ item.id }}/edit/">编辑</a>
                            <a class="btn btn-danger btn-xs" href="/num/{{ item.id }}/delete/">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <ul class="pagination">
            {{ page_string }}

        </ul>


    </div>
{% endblock %}

