{% extends 'main.html' %}
{% block content %}
    <div class="container">
        <div style="margin-bottom: 10px">
            <a class="btn btn-success" href="/user/add1/">新建员工1</a>
            <a class="btn btn-success" href="/user/add2/">新建员工2</a>
            <div style="float: right;width: 300px">
                <form method="get">
                    <div class="input-group">

                        <input type="text" class="form-control" placeholder="姓名" value="{{ search_data }}" name="q">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">查询</button>
                    </span>

                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">员工列表</div>

            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>名字</th>
                    <th>密码</th>
                    <th>性别</th>
                    <th>年龄</th>
                    <th>账户余额</th>
                    <th>入职时间</th>
                    <th>所在部门</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for item in data_list %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.password }}</td>
                        <td>{{ item.get_gender_display }}</td>
                        <td>{{ item.age }}</td>
                        <td>{{ item.money }}</td>
                        <td>{{ item.time | date:"Y-m-d" }}</td>
                        <td>{{ item.depart.title }}</td>
                        <td>
                            <a class="btn btn-primary btn-xs" href="/user/{{ item.id }}/edit/">编辑</a>
                            <a class="btn btn-danger btn-xs" href="/user/{{ item.id }}/delete/">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <ul class="pagination">
            {{ page_string }}

        </ul>
    </div>
{% endblock %}

